.bg-batt {
  background-color: #fe0000;
}

.link-custom {
  color: #000000;
  text-decoration: none;
}

.link-custom:hover {
  text-decoration: underline;
}

.navbar-dark {
  --bs-navbar-color: #ffffff;
  --bs-navbar-hover-color: #ffffff;
}

.dropdown-menu {
  --bs-dropdown-min-width: 0;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0;
  left: 16px;
}

.carousel-indicators {
  display: none;
}

.carousel-inner img {
  margin: auto;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-padding {
  padding-top: 30px;
  padding-bottom: 130px;
}

.button-custom {
  border-color: #ffffff;
}

.button-custom:hover {
  background-color: #fe0000;
}